.reviews-section {
  padding: 100px 0 20px;
  overflow: hidden;
  @include sm {
    padding: 50px 0 0;
  }
  @include xxs {
    padding-bottom: 0;
  }
  .swiper {
    overflow: unset;
  }
  .swiper-slide {
    opacity: 0.5;
    &.swiper-slide-active,
    &.swiper-slide-next,
    &.swiper-slide-next + .swiper-slide {
      opacity: 1;
    }
  }
  .reviews-icon {
    text-align: center;
    fill: $setting_primary_color;
  }
  .reviews-title {
    text-align: center;
    font-size: 36px;
    font-weight: $weight_extrabold;
    margin-top: 40px;
    @include xs {
      font-size: 24px;
    }
  }
  .reviews-slide {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    padding: 15px 40px 40px;
    @include xs {
      padding: 0 20px 20px;
    }
    p {
      font-size: 18px;
      @include xs {
        font-size: 14px;
      }
    }
    h4 {
      margin: 0;
      font-size: 18px;
      font-weight: $weight_bold;
      @include xs {
        font-size: 14px;
      }
    }
    i {
      font-size: 14px;
      color: $setting_primary_color;
    }
  }
}
.swiper-pagination {
  position: relative;
  inset: unset;
  margin-top: 40px;
  transform: unset;
}
.swiper-pagination-bullet {
  background-color: #000000;
}
.swiper-pagination-bullet-active {
  background-color: $setting_primary_color;
}
