.video {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  aspect-ratio: 1140 / 550;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: all 0.3 ease;
  cursor: pointer;
  &:hover .video-img {
    transform: scale(1.05);
  }
  .video-img {
    transition: all 0.3s ease-in-out;
  }
  // &:hover {
  //   transform: scale(1.05);
  // }

  &::before {
    content: "\f144";
    font-family: "Line Awesome Free";
    font-weight: 900;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    color: #ffffff;
    font-size: 100px;
    overflow: hidden;
    pointer-events: none;

    @include xs {
      font-size: 50px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    opacity: 0.102;
    background-color: #000000;
    z-index: 1;
  }
  &:hover::after {
    opacity: 0;
  }
}
.video-img:hover {
  transform: scale(1.05);
}
